*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(55, 124, 101);
    color: white;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    font-size: 2rem;
}

form, 
header {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

form :is(input, button){
    border: none;
    background: white;
    border-radius: 20px;
    padding: 0.5rem;
    padding-left: 1rem;
}


form button {
    color: rgb(84, 167, 51);
    background: white;
    cursor: pointer;
    margin-left: 10px;
}
 

form button:hover{
    color: white;
    background: rgb(84, 167, 51);
    transition: all 0.5s ease;
}

form i{
    margin-left: -8px;
}
