.update-controller {
    display: none;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100dvh; 
}

.input-header {
    display: flex;
    height: 20vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.input-header #titleTodo {
    height: 10vh;
    display: flex;
    width: auto;
    align-self: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
}

.app .input-header .to-do-input input{
    background:rgb(171, 194, 187);
    border: none;
    border-radius: 20px;
    padding: 8px;
}

.app .input-header .to-do-input button{
    background-color: rgb(171, 194, 187);
    border: none;
    padding: 8px;
    margin-left: 1rem;
    border-radius: 20px;
    font-weight: 900;
    cursor: pointer;
}

.app .input-header .to-do-input {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 80px;
}

.app .to-do-list {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}